.hover-underline-animation {
  position: inherit;
}

.hover-underline-animation:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

section {
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-transform: uppercase;
}

@font-face {
  font-family: spacex;
  src: url(../fonts/D-DIN.woff2);
}
@font-face {
  font-family: spacexbold;
  src: url(../fonts/D-DIN-Bold.woff2);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: spacex;
  background: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

/* Header and Navbar */
.main-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  height: 100px;
  padding: 0 30px;
}
.main-header .left-nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header .desktop-nav-items ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header .desktop-nav-items ul li {
  font-family: spacexbold;
  font-size: 14px;
  position: relative;
  margin-right: 20px;
  padding-bottom: 2px;
  left: 100px;
}
.main-header .right-nav-items {
  font-family: spacexbold;
  font-size: 14px;
  position: relative;
  left: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header .right-nav-items div {
  margin-left: 30px;
}

/* logo */
.logo {
  width: 210px;
  height: auto;
  position: relative;
  left: 50px;
}
.logo img {
  display: block;
  height: auto;
  width: 100%;
}

.scroll-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: fadeBounce 5s infinite;
          animation: fadeBounce 5s infinite;
}

.first-section {
  background-image: url("../images/Homepage_Desktop.jpg");
}
.first-section .first-section-inner {
  position: absolute;
  bottom: 200px;
  left: 150px;
  max-width: 560px;
}
.first-section .first-section-inner h4 {
  font-size: 1em;
  margin-bottom: 5px;
  font-weight: 300;
}
.first-section .first-section-inner h2 {
  font-size: 50px;
  font-family: spacexbold;
  font-weight: 700;
  margin-bottom: 20px;
}
.first-section .first-section-inner .btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 15px 50px;
  margin-top: 10px;
  border: 2px solid #fff;
  text-transform: uppercase;
  z-index: 2;
  overflow: hidden;
  font-weight: bold;
}
.first-section .first-section-inner .btn span {
  font-family: spacexbold;
  font-size: 14px;
}

.second-section {
  background-image: url("../images/Starlink_Desktop.jpg");
}
.second-section .second-section-inner {
  position: absolute;
  bottom: 200px;
  left: 150px;
  max-width: 560px;
}
.second-section .second-section-inner h4 {
  font-size: 1em;
  margin-bottom: 5px;
  font-weight: 300;
}
.second-section .second-section-inner h2 {
  font-size: 50px;
  font-family: spacexbold;
  font-weight: 700;
  margin-bottom: 20px;
}
.second-section .second-section-inner .btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 15px 50px;
  margin-top: 10px;
  border: 2px solid #fff;
  text-transform: uppercase;
  z-index: 2;
  overflow: hidden;
  font-weight: bold;
}
.second-section .second-section-inner .btn span {
  font-family: spacexbold;
  font-size: 14px;
}

.third-section {
  background-image: url("../images/S20_Chopstick_Stack_Desktop.jpg");
}
.third-section .third-section-inner {
  position: absolute;
  bottom: 200px;
  left: 150px;
  max-width: 560px;
}
.third-section .third-section-inner h4 {
  font-size: 1em;
  margin-bottom: 5px;
  font-weight: 300;
}
.third-section .third-section-inner h2 {
  font-size: 50px;
  font-family: spacexbold;
  font-weight: 700;
  margin-bottom: 20px;
}
.third-section .third-section-inner .btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 15px 50px;
  margin-top: 10px;
  border: 2px solid #fff;
  text-transform: uppercase;
  z-index: 2;
  overflow: hidden;
  font-weight: bold;
}
.third-section .third-section-inner .btn span {
  font-family: spacexbold;
  font-size: 14px;
}

.fourth-section {
  background-image: url("../images/hls-resized-2.jpg");
}
.fourth-section .fourth-section-inner {
  position: absolute;
  bottom: 200px;
  left: 150px;
  max-width: 560px;
}
.fourth-section .fourth-section-inner h4 {
  font-size: 1em;
  margin-bottom: 5px;
  font-weight: 300;
}
.fourth-section .fourth-section-inner h2 {
  font-size: 50px;
  font-family: spacexbold;
  font-weight: 700;
  margin-bottom: 20px;
}
.fourth-section .fourth-section-inner .btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 15px 50px;
  margin-top: 10px;
  border: 2px solid #fff;
  text-transform: uppercase;
  z-index: 2;
  overflow: hidden;
  font-weight: bold;
}
.fourth-section .fourth-section-inner .btn span {
  font-family: spacexbold;
  font-size: 14px;
}

.btn .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  z-index: -1;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover .hover {
  transform: translateY(0);
}

.btn:hover span {
  color: black;
}

footer {
  position: relative;
  padding: 55px 0;
  font-family: spacexbold;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer ul li {
  margin-right: 30px;
  color: #aaa;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 2.5;
}
footer ul li a {
  color: #fff;
  transition: color 0.6s;
}
footer ul li a:hover {
  color: #aaa;
}/*# sourceMappingURL=index.css.map */