@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-underline-animation {
  position: inherit;
}

.hover-underline-animation:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;

  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

section{
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-transform: uppercase;
}

@mixin main-section($bgImage){
    background-image: url($bgImage);
}

@mixin main-section-inner{
    position: absolute;
    bottom: 200px;
    left: 150px;
    max-width: 560px;
        h4{
            font-size: 1em;
            margin-bottom: 5px;
            font-weight: 300;
        }
        h2{
            font-size: 50px;
            font-family: spacexbold;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .btn{
            position: relative;
            display: inline-block;
            cursor: pointer;
            text-align: center;
            // min-height: 130px;
            padding: 15px 50px;
            margin-top: 10px;
            border: 2px solid #fff;
            text-transform: uppercase;
            z-index: 2;
            overflow: hidden;
            font-weight: bold;
            
            span{
                font-family: spacexbold;
                font-size: 14px;
            }
        }
}
    
